
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Roboto:wght@300;400&display=swap');


body {
    margin: 0;
    padding: 25px;
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1561016444-14f747499547?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fHw%3D');
    background-size: cover;
    /* ver si borro ese position */
    /* position: relative; */

}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

 
meta{
    
    text-align: center;
}  
#registroForm {
    justify-content: center;
}
.d-block w-100{
    text-align: center;
}