
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Roboto:wght@300;400&display=swap');


body {
    margin: 0;
    padding: 25px;
    font-family: Arial, sans-serif;
    background-image: url('https://img1.picmix.com/output/stamp/normal/0/3/3/0/2080330_1ebe1.gif');
    background-size: cover;
    /* ver si borro ese position */
    /* position: relative; */

}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

 
meta{
    
    text-align: center;
}  
#registroForm {
    justify-content: center;
}
.d-block w-100{
    text-align: center;
}